<div class="auth-form">
<%= form_for :user, url: '/users' do |f| %>
  <h2 class="text-center">Sign Up</h2>
  <div class="form-group">
    <%= f.text_field :fname, class: "form-control", :placeholder => "First Name" %>
  </div>
  <div class="form-group">
    <%= f.text_field :lname, class: "form-control", :placeholder => "Last Name" %>
  </div>
  <div class="form-group">
    <%= f.text_field :email, class: "form-control", :placeholder => "Email" %>
  </div>
  <div class="form-group">
    <%= f.password_field :password, class: "form-control", :placeholder => "Password" %>
  </div>
  <div class="form-group">
    <%= f.password_field :password_confirmation, class: "form-control", :placeholder => "Password Confirmation" %>
  </div>
  <div class ="form-group">
    <%= f.submit "Sign Up", class: "btn btn-primary btn-block" %>
  </div>  
  <div class="clearfix">
  <span class="float-right">Have an account already? Log in <%= link_to 'here!', '/login' %></li></span>
  </div>
<% end %>
</div>